h1, .h1 {
  font-family: $headings-font;
  line-height: 1.0;
}

h2, .h2 {
  font-family: $headings-font;
  line-height: 1.0;
}

h3, .h3 {
  font-family: $headings-font;
  line-height: 1.0;
}

h4, .h4 {
  font-family: $headings-font;
  line-height: 1.0;
}

h5, .h5 {
  font-family: $headings-font;
  line-height: 1.0;
}

h6, .h6 {
  font-family: $headings-font;
  line-height: 1.0;
}

.line-bg {
  background-image:url('../images/pixel.png');
  background-repeat: repeat-x;
  background-position: 50%;

  span {
    background-color:#fff;
    padding-right:15px;
  }
}

body {
  font-family:$primary-font;
}
