// Fonts
$icon-font-path:        "../fonts/";
$headings-font: 'Baloo Da', cursive;
$primary-font: 'Abel', sans-serif;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #2ecc71;
$background-gray:       #ececec;


//Breakpoints
$mobile:  380px;
$tablet:  740px;
$desktop: 980px;
$wide:    1300px;
